<section class="list-group-item" ng-repeat="electronic in bag.items| filter: { category: 'Electronics' }">
	<table>
		<input type="checkbox" ng-model="electronic.packed">
		<span class="packed-{{electronic.packed}}">{{ electronic.type }}</span>
		<em class="pull-right">
			<input class="quantity" type="number" min="0" ng-model="electronic.quantity">
			<td class="packed-{{electronic.packed}}">Quantity: {{ electronic.quantity }}</td>
		</em>
	</table>
</section>
<aside>
	<h4>Total Electronics: {{ getTotal('Electronics') }}</h4>
</aside>
