<section class="list-group-item" ng-repeat="toiletry in bag.items| filter: { category: 'Toiletries' }">
	<table>
		<input type="checkbox" ng-model="toiletry.packed">
		<span class="packed-{{toiletry.packed}}">{{ toiletry.type }}</span>
		<em class="pull-right">
			<input class="quantity" type="number" min="0" ng-model="toiletry.quantity">
			<td class="packed-{{toiletry.packed}}">Quantity: {{ toiletry.quantity }}</td>
		</em>
	</table>
</section>
<aside>
	<h4>Total Toiletries: {{ getTotal('Toiletries') }}</h4>
</aside>