.tripInfo, .addItem {
	padding: 25px;
	text-align: center;
}
.jumbotron {
	background: #428bca;
	color: #FFFAF0;
}
ul {
	padding:25px;
}
.quantity {
	width: 50px;
}
h2 {
	text-align: center;
}
td {
	padding-left: 10px;
}
h3 {
	text-align: right;
}
